<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beaver.mapper.PurchaseMapper">

    <select id="getAllPurchase" resultType="com.beaver.bean.vo.PurchaseAccountSupplierMaterial">
        SELECT * FROM bv_purchase LEFT JOIN bv_material ON bv_purchase.m_id = bv_material.m_id
        LEFT JOIN bv_supplier ON bv_supplier.`s_id` = bv_purchase.s_id
        ORDER BY bv_purchase.p_id DESC;
    </select>

    <insert id="addtOnePurchase" parameterType="com.beaver.bean.Purchase">
        INSERT INTO bv_purchase
        (sponsor_username,sponsor_department,s_id,purchase_name,reception_name,reception_department,m_id)
        VALUES (#{sponsorUsername},#{sponsorDepartment}, #{sId},#{purchaseName},
        #{receptionName},#{receptionDepartment},#{mId});

    </insert>

    <update id="updatePurchasFromTable">
        update bv_purchase set remark=#{remark},pay_time1 =#{payTime1} ,pay_time2 =#{payTime2}
        where p_id=#{pId}
    </update>


    <delete id="deletePurchase">
        delete from bv_purchase where p_id=#{pId}
    </delete>

</mapper>