<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beaver.mapper.SupplierMapper">
    <resultMap id="allFirstIdTrade" type="java.util.HashMap">
        <result property="key" column="t_id" javaType="java.lang.Integer"/>
        <result property="value" column="trade_name" javaType="java.lang.String"/>
    </resultMap>

    <select id="getAllSupplier" resultType="com.beaver.bean.Supplier">
        select * from bv_supplier
    </select>

    <insert id="addOneSupplier" parameterType="com.beaver.bean.Supplier">
        insert into bv_supplier values(null,#{companyName},#{linkman}, #{telphone})
    </insert>

    <delete id="deleteSupplier">
        delete from bv_supplier where s_id = #{sId}
    </delete>

    <select id="getAllFirstIdTrade" resultMap="allFirstIdTrade">
        SELECT t_id,trade_name FROM trade where  trade_level =1
    </select>


</mapper>